body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 30px; */
}
nav.naqi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    background: rgb(17, 24, 35);
    backdrop-filter: blur(10px);
    z-index: 10px;
    height: 80px;
    position: sticky;
    top: 0px
    /* margin-bottom: 50px; */
}
nav.naqi div.navbar1 ul li{
    margin-left: 1px;
    margin-right: 1px;
    list-style: none;
    text-decoration: none;
    
   
}
nav.naqi div.navbar1 ul li a{
    text-decoration: none;
    color: white
}

nav.navbar2 ul li a{
    text-decoration: none;
    color: green;
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;

}

nav.navbar2 ul li{
    list-style: none;
}

nav.navbar2 ul{
background-color: rgb(244, 240, 240);
height: 80px;
display: flex;
align-items: center;
}
/* .home{
    justify-content: center;
    display: flex;
}

.home-content{
    width:70%;
    font-size: 20px;
}
.home-content h1{
    font-size: 35px;
    max-width: 450px; */
/* }
.home-content p{
    max-width: 650px;
}

.isi{
    display: flex;
    gap: 30px;
}

.isi1{
    display: fex;
    gap: 50px; */
/* }

.input {
    height: 30px;
} */

.LogoContainer{
    display: flex;
    flex-direction: row;
    gap:250px;


}
.LogoContainer ul{
    list-style: none;

}

.LogoContainer ul li a{
    color: white;
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    margin-top: 50px;
}

main div.TaylorSeries p{
    font-size: 13px;
}

main div.navigation{
    width: 50%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    font-size: 19px;
}

main div.navigation {
    font-size: 17px;
}

.hai{
    display: flex;
    justify-content: center;
    color: blue;
}

.hai h1{
    text-decoration:underline
}

.footer {
               background-color: rgb(17, 24, 35);
                padding: 40px 20px;
                color: #ffffff;
            }
            .footer .logo {
                margin-bottom: 20px;
            }
            .footer .logo img {
                margin-right: 10px;
            }
            .footer .columns {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            .footer .column {
                flex: 1;
                min-width: 150px;
                margin: 50px 50px;
            }
            .footer .column h3 {
               font-size: 16px;
                margin-bottom: 10px;
            }
            .footer .column ul {
                list-style: none;
                padding: 0;
            }
           .footer .column ul li {
                margin-bottom: 8px;
            }
            .footer .column ul li a {
                color: #ffffff;
                text-decoration: none;
            }
            .footer .social-media {
                display: flex;
               align-items: center;
                margin-top: 20px;
            }
            .footer .social-media a {
                color: #ffffff;
                margin-right: 15px;
                font-size: 20px;
            }
            .footer .app-links {
                display: flex;
                align-items: center;
                margin-top: 20px;
            }
            .footer .app-links a {
               margin-right: 15px;
            }
            footer .app-links {
                height: 30px;
                color: white;
            }
            .footer .app-links svg {
                height: 30px;
                background-color: white;
                margin-left: 10px;
            }
            .footer .bottom-links {
                display: flex;
                justify-content: space-between;
               flex-wrap: wrap;
                margin-top: 20px;
                border-top: 1px solid #333;
                padding-top: 20px;
                margin: 0 50px;
            }
            .footer .bottom-links .up{
                margin-bottom: 20px;
            }
            .footer .bottom-links a {
                color: #ffffff;
                text-decoration: none;
                margin-right: 15px;
            }
           .footer .bottom-links .country-selector {
                display: flex;
                align-items: center;
            }
            .footer .bottom-links .country-selector select {
                background-color: rgb(17, 24, 35);
                color: #ffffff;
                border: 1px solid #333;  
                margin-right: 800px;
                font-size: larger;
        
            }
            .footer .bottom-links .copyright {
                margin-top: 10px;
                font-size: 17px;
                margin-bottom: 50px;
            }